.input-group {
	.form-control {
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;

		& + .input-group-append {
			.btn {
				border-top-right-radius: 1.5rem;
				border-bottom-right-radius: 1.5rem;
			}
		}
	}
}
