/* Fonts */
@font-face {
	font-family: 'Josefin Sans Regular';
	src: url('../fonts/josefinsans-regular.woff') format('woff'),
	url('../fonts/josefinsans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans Bold';
	src: url('../fonts/josefinsans-bold.woff') format('woff'),
	url('../fonts/josefinsans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
